/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#advanced-pdf-generator {
    display: block;
    list-style: none;
    margin: 15px 0;
    padding: 15px 0;
    text-align: right;
    width: 100%;
}

#advanced-pdf-generator li {
    background-color: #555;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 15px;
}

 #advanced-pdf-generator li a.advanced-pdf-generator.view-pdf,
 #advanced-pdf-generator li a.advanced-pdf-generator.download-pdf,
 #advanced-pdf-generator li a.advanced-pdf-generator.send-pdf {
     border: 0;
     color: white;
     text-decoration: none;
 }
 #modal-send .lightbox-email,
 #modal-mail .lightbox-email {
    background-color: white;
    padding: 15px;
    margin: 60px auto;
    max-width: 680px;
    text-align: left;
 }
 #modal-send .lightbox-email .cont-input {
     margin-bottom: 15px;
 }

#modal-send .lightbox-email .close,
#modal-mail .lightbox-email .close {
    float: right;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
    text-align: center;
    margin-top: -10px;
 }
 /*!
  * Bootstrap v3.3.7 (http://getbootstrap.com)
  * Copyright 2011-2017 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  */

 /*!
  * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.3/customize/?id=97cd75421ce7ffec14366e84815a4a4c)
  * Config saved to config.json and https://gist.github.com/97cd75421ce7ffec14366e84815a4a4c
  */
 /*!
  * Bootstrap v3.3.7 (http://getbootstrap.com)
  * Copyright 2011-2016 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  */
 /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
 .modal-open {
   overflow: hidden;
 }
 .modal {
   display: none;
   overflow: hidden;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1050;
   -webkit-overflow-scrolling: touch;
   outline: 0;
 }
 .modal.fade .modal-dialog {
   -webkit-transform: translate(0, -25%);
   -ms-transform: translate(0, -25%);
   -o-transform: translate(0, -25%);
   transform: translate(0, -25%);
   -webkit-transition: -webkit-transform 0.3s ease-out;
   -o-transition: -o-transform 0.3s ease-out;
   transition: transform 0.3s ease-out;
 }
 .modal.in .modal-dialog {
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   -o-transform: translate(0, 0);
   transform: translate(0, 0);
 }
 .modal-open .modal {
   overflow-x: hidden;
   overflow-y: auto;
 }
 .modal-dialog {
   position: relative;
   width: auto;
   margin: 10px;
 }
 .modal-content {
   position: relative;
   background-color: #ffffff;
   border: 1px solid #999999;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   -webkit-background-clip: padding-box;
           background-clip: padding-box;
   outline: 0;
 }
 .modal-backdrop {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000000;
 }
 .modal-backdrop.fade {
   opacity: 0;
   filter: alpha(opacity=0);
 }
 .modal-backdrop.in {
   opacity: 0.5;
   filter: alpha(opacity=50);
 }
 .modal-header {
   padding: 15px;
   border-bottom: 1px solid #e5e5e5;
 }
 .modal-header .close {
   margin-top: -2px;
 }
 .modal-title {
   margin: 0;
   line-height: 1.42857143;
 }
 .modal-body {
   position: relative;
   padding: 15px;
 }
 .modal-footer {
   padding: 15px;
   text-align: right;
   border-top: 1px solid #e5e5e5;
 }
 .modal-footer .btn + .btn {
   margin-left: 5px;
   margin-bottom: 0;
 }
 .modal-footer .btn-group .btn + .btn {
   margin-left: -1px;
 }
 .modal-footer .btn-block + .btn-block {
   margin-left: 0;
 }
 .modal-scrollbar-measure {
   position: absolute;
   top: -9999px;
   width: 50px;
   height: 50px;
   overflow: scroll;
 }
 @media (min-width: 768px) {
   .modal-dialog {
     width: 600px;
     margin: 30px auto;
   }
   .modal-content {
     -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
   }
   .modal-sm {
     width: 300px;
   }
 }
 @media (min-width: 992px) {
   .modal-lg {
     width: 900px;
   }
 }
 .clearfix:before,
 .clearfix:after,
 .modal-header:before,
 .modal-header:after,
 .modal-footer:before,
 .modal-footer:after {
   content: " ";
   display: table;
 }
 .clearfix:after,
 .modal-header:after,
 .modal-footer:after {
   clear: both;
 }
